<template>
    <div class="card" id="login--page">
        <h5 class="card-header">Login</h5>
        <div class="card-body">
            <p class="card-text">Use demo@teams.org/1234 for login</p>
            <login-form @LoginAttempt="onLoginAttempt"></login-form>
        </div>
    </div>
</template>
<script>
    import LoginForm from '../forms/LoginForm.vue'

    export default {
    	components: {
    		LoginForm
        },
        methods: {
    	    onLoginAttempt(credentials) {
    	    	const { email, password }  = credentials

                this.$store.dispatch('AUTH_REQUEST', { email, password }).then(() => {
    	    		this.$router.push('/')
                })
            }
        },
        name: 'LoginPage'
    }
</script>
<style scoped>
    .card {
        width: 360px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
    }
</style>