<template>
    <div class="main card" id="team--page" v-if="team">
        <h4 class="card-header">{{ team.name }}</h4>
        <div class="card-body">
            <h5 class="card-subtitle">Players</h5>

            <form @submit.prevent="onSavePlayer">
                <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Created at</th>
                            <th scope="col">Created by</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="player in team.players">
                            <td>{{ player.id }}</td>
                            <td>
                                <template v-if="playerMode === 'edit' && playerModel.id === player.id">
                                    <input type="text" name="first_name" class="form-control" v-model="playerModel.first_name" />
                                </template>
                                <template v-else>{{ player.first_name }}</template>
                            </td>
                            <td>
                                <template v-if="playerMode === 'edit' && playerModel.id === player.id">
                                    <input type="text" name="last_name" class="form-control" v-model="playerModel.last_name" />
                                </template>
                                <template v-else>{{ player.last_name }}</template>
                            </td>
                            <td>
                                <template v-if="playerMode === 'edit' && playerModel.id === player.id">
                                    <input type="number" name="age" class="form-control" v-model="playerModel.age" />
                                </template>
                                <template v-else>
                                    {{ player.age }}
                                </template>
                            </td>
                            <template v-if="playerMode === 'edit' && playerModel.id === player.id">
                                <td colspan="3">
                                    <button class="btn btn-success" type="submit" @click.prevent="onSavePlayer">Save</button>
                                    <button class="btn btn-danger" type="button" @click.prevent="playerMode = 'list'">Cancel</button>
                                </td>
                            </template>
                            <template v-else>
                                <td>{{ player.created_at }}</td>
                                <td>{{ player.author.name }}</td>
                                <td>
                                    <button class="btn btn-primary" type="button" @click.prevent="onEditPlayer(player)">Edit</button>
                                </td>
                            </template>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <template v-if="playerMode === 'create'">
                                <td></td>
                                <td>
                                    <input type="text" name="first_name" class="form-control" placeholder="Player first name" v-model="$v.playerModel.first_name.$model" />
                                    <p class="alert alert-danger error" v-if="$v.playerModel.first_name.$dirty && !$v.playerModel.first_name.required">First name is required.</p>
                                </td>
                                <td>
                                    <input type="text" name="last_name" class="form-control" placeholder="Player last name" v-model="$v.playerModel.last_name.$model" />
                                    <p class="alert alert-danger error" v-if="$v.playerModel.last_name.$dirty && !$v.playerModel.last_name.required">Last name is required.</p>
                                </td>
                                <td>
                                    <input type="number" name="age" class="form-control" placeholder="Player age" v-model="$v.playerModel.age.$model" />
                                    <p class="alert alert-danger error" v-if="$v.playerModel.age.$dirty && !$v.playerModel.age.required">Age is required.</p>
                                </td>
                                <td colspan="3">
                                    <button class="btn btn-success" type="button" :disabled="$v.$invalid" @click.prevent="onSavePlayer">Save</button>
                                    <button class="btn btn-danger" type="button" @click.prevent="playerMode = 'list'">Cancel</button>
                                </td>
                            </template>
                            <td colspan="7" v-else>
                                <button class="btn btn-secondary" type="button" @click.prevent="onCreatePlayer">Add player</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
</template>
<script>
	import { validationMixin } from 'vuelidate'
	import { required } from 'vuelidate/lib/validators'
	import PlayersMixin from '../../mixins/players.mixin'
	import TeamsMixin from '../../mixins/teams.mixin'

    export default {
    	data() {
    	    return {
    	    	playerModel: null,
    	    	playerMode: 'list',
    	    	team: null
            }
        },
        methods: {
			clearModel() {
				this.playerModel = {
					first_name: '',
					last_name: '',
					age: ''
				}
            },
			onCreatePlayer() {
				this.clearModel()
                this.playerMode = 'create'
            },
			onEditPlayer(player) {
				this.playerModel = player
                this.playerMode = 'edit'
            },
			onSavePlayer() {
				this.$store.commit('REQUEST_INIT')

				if (this.playerMode === 'create') {
                    this.createPlayer(Object.assign(this.playerModel, {
                    	team_id: this.$route.params.id
                    })).then(() => {
						this.$store.commit('APP_MESSAGE', `Successfully added player ${this.playerModel.first_name} ${this.playerModel.last_name} to team ${this.team.name}`)
						this.$store.commit('REQUEST_STOP')
						this.playerMode = 'list'
						this.clearModel()
                    	this.refreshTeam()
                    })
                } else if (this.playerMode === 'edit') {
					let playerId = this.playerModel.id

                    delete this.playerModel.id

                    this.updatePlayer(playerId, this.playerModel).then(() => {
						this.$store.commit('APP_MESSAGE', `Successfully updated player ${this.playerModel.first_name} ${this.playerModel.last_name}`)
						this.$store.commit('REQUEST_STOP')
						this.playerMode = 'list'
						this.clearModel()
						this.refreshTeam()
                    })
                }
            },
			refreshTeam() {
				this.$store.commit('REQUEST_INIT')
				this.getTeam(this.$route.params.id).then((response) => {
					this.team = response.data
					this.$store.commit('REQUEST_STOP')
				})
            }
        },
		mixins: [
			validationMixin,
			PlayersMixin,
			TeamsMixin
		],
        mounted() {
			this.refreshTeam()
        },
    	name: 'TeamPage',
        validations: {
    		playerModel: {
    			first_name: {
    				required
                },
				last_name: {
					required
				},
				age: {
					required
				}
            }
        }
    }
</script>
<style scoped>
    form {
        margin-top: 10px;
    }
</style>