<template>
    <div class="main card" id="teamlist--page">
        <h1 class="card-header">Teams</h1>
        <div class="card-body">
            <form @submit.prevent="onSaveTeam">
                <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Team Name</th>
                            <th scope="col">Created at</th>
                            <th scope="col">Created by</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="team in teams">
                            <th scope="row">{{ team.id }}</th>
                            <td>{{ team.name }}</td>
                            <td>{{ team.created_at }}</td>
                            <td>{{ team.author.name }}</td>
                            <td>
                                <router-link :to="{ name: 'route-teampage', params: { id: team.id }}" class="btn btn-info">View team</router-link>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5" v-if="mode === 'list'">
                                <button class="btn btn-secondary" type="button" @click.prevent="onCreateTeam">Add a team</button>
                            </td>
                            <template v-else>
                                <td></td>
                                <td colspan="3">
                                    <input class="form-control" type="text" name="name" placeholder="Team name(must be unique)" v-model.trim="$v.team.name.$model" />
                                    <p class="alert alert-danger error" v-if="$v.team.name.$dirty && !$v.team.name.required">Team name is required.</p>
                                </td>
                                <td colspan="1">
                                    <button class="btn btn-success" type="submit" :disabled="$v.$invalid" @click.prevent="onSaveTeam">Save</button>
                                    <button class="btn btn-danger" type="button" @click.prevent="mode = 'list'">Cancel</button>
                                </td>
                            </template>
                        </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
</template>
<script>
	import { validationMixin } from 'vuelidate'
	import { required } from 'vuelidate/lib/validators'
    import TeamsMixin from '../../mixins/teams.mixin'

    export default {
    	data() {
    	    return {
    	    	mode: 'list',
                team: {
    	    		name: ''
                },
    	    	teams: []
            }
        },
        methods: {
    		clearModel() {
    		    this.team.name = ''
            },
    	    onCreateTeam() {
    	    	this.mode = 'create'
            },
            onSaveTeam() {
				this.$v.$touch()
				if (!this.$v.$invalid) {
					this.$store.commit('ERROR_RESET')
					this.$store.commit('REQUEST_INIT')
					this.createTeam(this.team).then(() => {
						this.$store.commit('APP_MESSAGE', `Successfully added team ${this.team.name}`)
						this.refreshList()
                        this.mode = 'list'
                        this.clearModel()
						this.$store.commit('REQUEST_STOP')
                    }).catch((error) => {
						this.$store.commit('APP_ERRORS', error.response.data.errors)
						this.$store.commit('REQUEST_STOP')
                    })
				}
            },
            refreshList() {
				this.$store.commit('REQUEST_INIT')
				this.getTeams().then((response) => {
					this.teams = response.data
					this.$store.commit('REQUEST_STOP')
				})
            }
        },
        mixins: [
			validationMixin,
			TeamsMixin
        ],
        mounted() {
            this.refreshList()
        },
        name: 'TeamListPage',
        validations: {
    		team: {
    			name: {
    				required
                }
            }
        }
    }
</script>