<template>
    <div id="app-container">
        <header-navigation @Logout="onLogout"></header-navigation>
        <router-view />
        <vue-snotify></vue-snotify>
    </div>
</template>
<script>
    import HeaderNavigation from '../components/nav/HeaderNavigation.vue'

    export default {
    	components: {
			HeaderNavigation
        },
    	data() {
    	    return {
    	    	loader: null
            }
        },
        methods: {
			onLogout() {
                this.$store.dispatch('LOGOUT_REQUEST').then(
					this.$router.push('/login')
                )
            }
        },
        mounted() {
        },
    	name: 'App',
        watch: {
    		'$store.state.status': {
    		    handler(status) {
    		    	if (status === 'loading') {
    		    		this.loader = this.$loading.show()
                    } else if (status === 'idle' && this.loader !== null) {
    		    		this.loader.hide()
                    }
                },
                immediate: true
            },
			'$store.state.errors': {
				handler(errors) {
					errors.forEach((error) => {
						this.$snotify.error(error)
					})
				},
				deep: true,
				immediate: false
			},
			'$store.state.messages': {
				handler(messages) {
					messages.forEach((message) => {
						this.$snotify.info(message)
					})
				},
				deep: true,
				immediate: false
			}
        }
    }
</script>
<style>
    .main.card {
        width: 1260px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }
</style>