<template>
    <nav class="navbar navbar-light bg-light">
        <router-link class="navbar-brand" to="/">Teams App</router-link>
        <button class="btn btn-outline-danger" @click.prevent="onLogoutClick" v-if="$store.getters.isAuthenticated">Logout</button>
    </nav>
</template>
<script>
    export default {
    	methods: {
    	    onLogoutClick() {
    	    	this.$emit('Logout')
            }
        },
    	name: 'HeaderNavigation'
    }
</script>