<template>
    <form novalidate @submit.prevent="login">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="E-mail address" v-model.trim="$v.model.email.$model" />
            <p class="alert alert-danger error" v-if="$v.model.email.$dirty && !$v.model.email.required">E-mail is required.</p>
            <p class="alert alert-danger error" v-if="!$v.model.email.email">E-mail is not valid.</p>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" v-model.trim="$v.model.password.$model" />
            <p class="alert alert-danger error" v-if="$v.model.password.$dirty && !$v.model.email.required">Password is required.</p>
        </div>
        <div class="form-group">
            <button class="btn btn-outline-primary" :disabled="$v.$invalid" type="submit">Login</button>
        </div>
    </form>
</template>
<script>
	import { validationMixin } from 'vuelidate'
	import { required,  email } from 'vuelidate/lib/validators'

    export default {
    	data() {
    	    return {
    	    	model: {
    	    		email: '',
                    password: ''
                }
            }
        },
    	methods: {
    	    login() {
    	    	this.$emit('LoginAttempt', this.model)
            }
        },
        mixins: [
			validationMixin
        ],
    	name: 'LoginForm',
        validations: {
            model: {
				email: {
					required,
					email
				},
				password: {
					required
				}
            }
        }
    }
</script>